*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  color: #3F4255;
  font-family: "Martel Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

body.active {
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
}

input, button, h1, h2, p {
  font: inherit;
  color: inherit;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  font: inherit;
  color: inherit;
}

ol, ul {
  list-style-type: none;
}

button {
  outline: none;
  border: none;
  background: transparent;
}

.container {
  width: 100%;
  max-width: 1296px;
  margin: 0 auto;
  padding: 0 20px;
}

.icon {
  fill: #d4d7e6;
  width: 24px;
  height: 24px;
  transition: 0.5s ease;
}

.instagram .section-title, .section-title, .main-title {
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 64px;
  letter-spacing: 0.08em;
}
@media screen and (max-width: 768px) {
  .instagram .section-title, .section-title, .main-title {
    font-size: 28px;
  }
}

.footer-menu-title, .peculiarities-name {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.button-secondary {
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-color: #F4F2FC;
  border-radius: 4px;
  padding: 16px 24px;
  color: #9093A6;
  font-weight: 700;
  letter-spacing: 0.5px;
  transition: 0.5s ease;
  cursor: pointer;
}
.button-secondary:hover {
  background-color: #d4d7e6;
}
.button-secondary:disabled {
  opacity: 0.4;
}
.button-secondary span {
  position: relative;
  z-index: 10;
}
.button-secondary.active:after {
  content: "";
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  opacity: 0.4;
  background-color: #fff;
  position: absolute;
  z-index: 5;
  right: 4px;
  top: 4px;
}

.button-primary {
  background-color: #FFE145;
  border-radius: 4px;
  color: #B79C0F;
  padding: 25px 24px;
  font-weight: 700;
  letter-spacing: 0.5px;
  position: relative;
  overflow: hidden;
  border: none;
  transition: 0.5s ease;
  cursor: pointer;
}
.button-primary:hover {
  background-color: #FFF7CC;
}
.button-primary:disabled {
  opacity: 0.4;
}
.button-primary.active:before {
  content: "";
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  opacity: 0.4;
  background-color: #fff;
  position: absolute;
  z-index: 5;
  right: 8px;
  bottom: 8px;
}
.button-primary span {
  position: relative;
  z-index: 10;
}

.swiper-container {
  position: relative;
}
.swiper-container .button-secondary {
  display: none;
}
@media screen and (max-width: 768px) {
  .swiper-container .button-secondary {
    display: block;
    margin: 30px auto 0;
    max-width: 118px;
  }
}

.swiper-button-lock {
  display: block !important;
}

.button-navigation {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.08);
  transition: 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  top: 50%;
}
@media screen and (max-width: 768px) {
  .button-navigation {
    transform: translate(0, -56px);
  }
}
.button-navigation svg {
  height: 16px;
  width: 16px;
  fill: #9093A6;
  transition: 0.5s ease;
}
.button-navigation:hover {
  background-color: #9093A6;
}
.button-navigation:hover svg {
  fill: #3F4255;
}

.button-navigation--prev {
  left: -20px;
}

.button-navigation--next {
  right: -20px;
}
.button-navigation--next svg {
  transform: rotate(180deg);
}

.container {
  width: 100%;
  max-width: 1296px;
  margin: 0 auto;
  padding: 0 20px;
}

.icon {
  fill: #d4d7e6;
  width: 24px;
  height: 24px;
  transition: 0.5s ease;
}

.instagram .section-title, .section-title, .main-title {
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 64px;
  letter-spacing: 0.08em;
}
@media screen and (max-width: 768px) {
  .instagram .section-title, .section-title, .main-title {
    font-size: 28px;
  }
}

.footer-menu-title, .peculiarities-name {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.button-secondary {
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-color: #F4F2FC;
  border-radius: 4px;
  padding: 16px 24px;
  color: #9093A6;
  font-weight: 700;
  letter-spacing: 0.5px;
  transition: 0.5s ease;
  cursor: pointer;
}
.button-secondary:hover {
  background-color: #d4d7e6;
}
.button-secondary:disabled {
  opacity: 0.4;
}
.button-secondary span {
  position: relative;
  z-index: 10;
}
.button-secondary.active:after {
  content: "";
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  opacity: 0.4;
  background-color: #fff;
  position: absolute;
  z-index: 5;
  right: 4px;
  top: 4px;
}

.button-primary {
  background-color: #FFE145;
  border-radius: 4px;
  color: #B79C0F;
  padding: 25px 24px;
  font-weight: 700;
  letter-spacing: 0.5px;
  position: relative;
  overflow: hidden;
  border: none;
  transition: 0.5s ease;
  cursor: pointer;
}
.button-primary:hover {
  background-color: #FFF7CC;
}
.button-primary:disabled {
  opacity: 0.4;
}
.button-primary.active:before {
  content: "";
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  opacity: 0.4;
  background-color: #fff;
  position: absolute;
  z-index: 5;
  right: 8px;
  bottom: 8px;
}
.button-primary span {
  position: relative;
  z-index: 10;
}

.swiper-container {
  position: relative;
}
.swiper-container .button-secondary {
  display: none;
}
@media screen and (max-width: 768px) {
  .swiper-container .button-secondary {
    display: block;
    margin: 30px auto 0;
    max-width: 118px;
  }
}

.swiper-button-lock {
  display: block !important;
}

.button-navigation {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.08);
  transition: 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  top: 50%;
}
@media screen and (max-width: 768px) {
  .button-navigation {
    transform: translate(0, -56px);
  }
}
.button-navigation svg {
  height: 16px;
  width: 16px;
  fill: #9093A6;
  transition: 0.5s ease;
}
.button-navigation:hover {
  background-color: #9093A6;
}
.button-navigation:hover svg {
  fill: #3F4255;
}

.button-navigation--prev {
  left: -20px;
}

.button-navigation--next {
  right: -20px;
}
.button-navigation--next svg {
  transform: rotate(180deg);
}

.header {
  width: 100%;
  padding: 0.75rem 0;
  font-weight: 700;
  color: #9093A6;
  border-bottom: 1px solid #d4d7e6;
  background-color: #fff;
  transition: position 0.5s ease;
  transition: transform 0.5s ease;
}
.header.active {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
}
.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-overlay {
  position: absolute;
  top: 72.8px;
  left: 0;
  z-index: 20;
  background-color: rgba(48, 48, 48, 0.6);
  width: 100%;
  height: 100vh;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s ease;
  overflow-x: hidden;
}
.header-overlay.active {
  opacity: 1;
  visibility: visible;
}
.header-buttons {
  display: flex;
  align-items: center;
  gap: 3rem;
}
@media screen and (max-width: 768px) {
  .header-buttons [data-log_in], .header-buttons [data-cart] {
    display: none;
  }
}
.header-button {
  display: flex;
  align-items: center;
  gap: 2px;
  cursor: pointer;
  padding: 12px;
  transition: 0.5s ease;
}
.header-button:last-child {
  border-radius: 50%;
}
.header-button:last-child:hover {
  background-color: #d4d7e6;
}
.header-button:last-child [data-burger-close] {
  visibility: hidden;
  opacity: 0;
}
.header-button:last-child.active [data-burger-close] {
  visibility: visible;
  opacity: 1;
}
.header-button:last-child.active [data-burger-open] {
  visibility: hidden;
  opacity: 0;
}
.header-button:hover {
  color: #3F4255;
}
.header-button:hover .icon {
  fill: #3F4255;
}
.header-button .icon {
  fill: #9093A6;
}

.menu {
  width: 100%;
  max-width: 285px;
  height: 100%;
  padding: 22px 42px 22px 36px;
  margin-left: auto;
  background-color: #F4F2FC;
  font-family: "Martel Sans", sans-serif;
  transform: translate(100%, 0);
  transition: 0.5s ease;
}
.menu.active {
  transform: translate(0, 0);
}
.menu .header-button {
  display: none;
}
@media screen and (max-width: 768px) {
  .menu .header-button {
    display: block;
    padding-left: 0;
  }
}
.menu-contact {
  display: flex;
  gap: 13px;
  margin-bottom: 24px;
}
.menu-contact a:has(.icon):hover .icon {
  fill: #3F4255 !important;
}
.menu-contact-info {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.menu-contact-info a {
  display: block;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 20px;
  color: #3F4255;
}
.menu-contact-info p {
  font-size: 12px;
  line-height: 16px;
  margin-top: 6px;
}
.menu-list {
  display: flex;
  flex-direction: column;
}
.menu-item {
  border-top: 1px solid #F4F2FC;
  font-weight: 700;
  letter-spacing: 0.5px;
  transition: 0.5s ease;
}
.menu-item a {
  padding: 22px 0;
  display: block;
}
.menu-item:hover {
  color: #3F4255;
}
.menu-item:nth-child(4) {
  border-bottom: 1px solid #F4F2FC;
}
.menu-item:has(.icon) {
  margin-left: auto;
  display: flex;
  align-items: baseline;
  padding: 22px 0;
}
.menu-item:has(.icon):hover .icon {
  fill: #3F4255;
  transform: rotate(180deg);
}

.container {
  width: 100%;
  max-width: 1296px;
  margin: 0 auto;
  padding: 0 20px;
}

.icon {
  fill: #d4d7e6;
  width: 24px;
  height: 24px;
  transition: 0.5s ease;
}

.instagram .section-title, .section-title, .main-title {
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 64px;
  letter-spacing: 0.08em;
}
@media screen and (max-width: 768px) {
  .instagram .section-title, .section-title, .main-title {
    font-size: 28px;
  }
}

.footer-menu-title, .peculiarities-name {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.button-secondary {
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-color: #F4F2FC;
  border-radius: 4px;
  padding: 16px 24px;
  color: #9093A6;
  font-weight: 700;
  letter-spacing: 0.5px;
  transition: 0.5s ease;
  cursor: pointer;
}
.button-secondary:hover {
  background-color: #d4d7e6;
}
.button-secondary:disabled {
  opacity: 0.4;
}
.button-secondary span {
  position: relative;
  z-index: 10;
}
.button-secondary.active:after {
  content: "";
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  opacity: 0.4;
  background-color: #fff;
  position: absolute;
  z-index: 5;
  right: 4px;
  top: 4px;
}

.button-primary {
  background-color: #FFE145;
  border-radius: 4px;
  color: #B79C0F;
  padding: 25px 24px;
  font-weight: 700;
  letter-spacing: 0.5px;
  position: relative;
  overflow: hidden;
  border: none;
  transition: 0.5s ease;
  cursor: pointer;
}
.button-primary:hover {
  background-color: #FFF7CC;
}
.button-primary:disabled {
  opacity: 0.4;
}
.button-primary.active:before {
  content: "";
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  opacity: 0.4;
  background-color: #fff;
  position: absolute;
  z-index: 5;
  right: 8px;
  bottom: 8px;
}
.button-primary span {
  position: relative;
  z-index: 10;
}

.swiper-container {
  position: relative;
}
.swiper-container .button-secondary {
  display: none;
}
@media screen and (max-width: 768px) {
  .swiper-container .button-secondary {
    display: block;
    margin: 30px auto 0;
    max-width: 118px;
  }
}

.swiper-button-lock {
  display: block !important;
}

.button-navigation {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.08);
  transition: 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  top: 50%;
}
@media screen and (max-width: 768px) {
  .button-navigation {
    transform: translate(0, -56px);
  }
}
.button-navigation svg {
  height: 16px;
  width: 16px;
  fill: #9093A6;
  transition: 0.5s ease;
}
.button-navigation:hover {
  background-color: #9093A6;
}
.button-navigation:hover svg {
  fill: #3F4255;
}

.button-navigation--prev {
  left: -20px;
}

.button-navigation--next {
  right: -20px;
}
.button-navigation--next svg {
  transform: rotate(180deg);
}

.main {
  padding: 25px 0;
  background: no-repeat right center url(../images/main_back.png);
  background-size: contain;
}
.main-info {
  padding: 95px 0 276px;
  margin-right: auto;
}
@media screen and (max-width: 1440px) {
  .main-info {
    padding-bottom: 200px;
  }
}
@media screen and (max-width: 1024px) {
  .main-info {
    padding-bottom: 120px;
  }
}
@media screen and (max-width: 768px) {
  .main-info {
    padding: 50px 0;
    color: rgb(43, 42, 42);
  }
}
.main-title {
  font-size: 58px !important;
  letter-spacing: 0.05em;
  margin: 95px 0 88px;
  max-width: 535px;
}
@media screen and (max-width: 1024px) {
  .main-title {
    margin-top: 0;
  }
}
.main-buttons-wrapper {
  display: flex;
  align-items: center;
  gap: 24px;
}
.main-button {
  width: 100%;
  max-width: -moz-min-content;
  max-width: min-content;
  padding: 18.5px 24px;
  border: 2px solid #FFE145;
  font-size: 12px;
  line-height: 16px;
  transition: 0.5s ease;
}
.main-button span {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 20px;
}
.main-button.active {
  background-color: #FFE145;
}
.main-button:hover {
  background-color: #FFF7CC;
}
.main-button:disabled {
  opacity: 0.4;
}

.container {
  width: 100%;
  max-width: 1296px;
  margin: 0 auto;
  padding: 0 20px;
}

.icon {
  fill: #d4d7e6;
  width: 24px;
  height: 24px;
  transition: 0.5s ease;
}

.instagram .section-title, .section-title, .main-title {
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 64px;
  letter-spacing: 0.08em;
}
@media screen and (max-width: 768px) {
  .instagram .section-title, .section-title, .main-title {
    font-size: 28px;
  }
}

.footer-menu-title, .peculiarities-name {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.button-secondary {
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-color: #F4F2FC;
  border-radius: 4px;
  padding: 16px 24px;
  color: #9093A6;
  font-weight: 700;
  letter-spacing: 0.5px;
  transition: 0.5s ease;
  cursor: pointer;
}
.button-secondary:hover {
  background-color: #d4d7e6;
}
.button-secondary:disabled {
  opacity: 0.4;
}
.button-secondary span {
  position: relative;
  z-index: 10;
}
.button-secondary.active:after {
  content: "";
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  opacity: 0.4;
  background-color: #fff;
  position: absolute;
  z-index: 5;
  right: 4px;
  top: 4px;
}

.button-primary {
  background-color: #FFE145;
  border-radius: 4px;
  color: #B79C0F;
  padding: 25px 24px;
  font-weight: 700;
  letter-spacing: 0.5px;
  position: relative;
  overflow: hidden;
  border: none;
  transition: 0.5s ease;
  cursor: pointer;
}
.button-primary:hover {
  background-color: #FFF7CC;
}
.button-primary:disabled {
  opacity: 0.4;
}
.button-primary.active:before {
  content: "";
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  opacity: 0.4;
  background-color: #fff;
  position: absolute;
  z-index: 5;
  right: 8px;
  bottom: 8px;
}
.button-primary span {
  position: relative;
  z-index: 10;
}

.swiper-container {
  position: relative;
}
.swiper-container .button-secondary {
  display: none;
}
@media screen and (max-width: 768px) {
  .swiper-container .button-secondary {
    display: block;
    margin: 30px auto 0;
    max-width: 118px;
  }
}

.swiper-button-lock {
  display: block !important;
}

.button-navigation {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.08);
  transition: 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  top: 50%;
}
@media screen and (max-width: 768px) {
  .button-navigation {
    transform: translate(0, -56px);
  }
}
.button-navigation svg {
  height: 16px;
  width: 16px;
  fill: #9093A6;
  transition: 0.5s ease;
}
.button-navigation:hover {
  background-color: #9093A6;
}
.button-navigation:hover svg {
  fill: #3F4255;
}

.button-navigation--prev {
  left: -20px;
}

.button-navigation--next {
  right: -20px;
}
.button-navigation--next svg {
  transform: rotate(180deg);
}

.services {
  max-width: 54.2%;
  margin-top: -104px;
  padding: 24px 25px 24px 0;
  box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.08);
}
@media screen and (max-width: 1440px) {
  .services {
    max-width: 100%;
    margin: 0;
  }
}
@media screen and (max-width: 768px) {
  .services {
    padding: 0;
  }
}
.services-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
}
@media screen and (max-width: 1440px) {
  .services-wrapper {
    justify-content: start;
  }
}
@media screen and (max-width: 1024px) {
  .services-wrapper {
    gap: 30px;
  }
}
@media screen and (max-width: 768px) {
  .services-wrapper {
    flex-wrap: wrap;
  }
}
.services-item {
  display: flex;
  align-items: center;
  gap: 16px;
}
.services-icon {
  width: 48px;
  height: 48px;
  fill: #B79C0F;
}

.container {
  width: 100%;
  max-width: 1296px;
  margin: 0 auto;
  padding: 0 20px;
}

.icon {
  fill: #d4d7e6;
  width: 24px;
  height: 24px;
  transition: 0.5s ease;
}

.instagram .section-title, .section-title, .main-title {
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 64px;
  letter-spacing: 0.08em;
}
@media screen and (max-width: 768px) {
  .instagram .section-title, .section-title, .main-title {
    font-size: 28px;
  }
}

.footer-menu-title, .peculiarities-name {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.button-secondary {
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-color: #F4F2FC;
  border-radius: 4px;
  padding: 16px 24px;
  color: #9093A6;
  font-weight: 700;
  letter-spacing: 0.5px;
  transition: 0.5s ease;
  cursor: pointer;
}
.button-secondary:hover {
  background-color: #d4d7e6;
}
.button-secondary:disabled {
  opacity: 0.4;
}
.button-secondary span {
  position: relative;
  z-index: 10;
}
.button-secondary.active:after {
  content: "";
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  opacity: 0.4;
  background-color: #fff;
  position: absolute;
  z-index: 5;
  right: 4px;
  top: 4px;
}

.button-primary {
  background-color: #FFE145;
  border-radius: 4px;
  color: #B79C0F;
  padding: 25px 24px;
  font-weight: 700;
  letter-spacing: 0.5px;
  position: relative;
  overflow: hidden;
  border: none;
  transition: 0.5s ease;
  cursor: pointer;
}
.button-primary:hover {
  background-color: #FFF7CC;
}
.button-primary:disabled {
  opacity: 0.4;
}
.button-primary.active:before {
  content: "";
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  opacity: 0.4;
  background-color: #fff;
  position: absolute;
  z-index: 5;
  right: 8px;
  bottom: 8px;
}
.button-primary span {
  position: relative;
  z-index: 10;
}

.swiper-container {
  position: relative;
}
.swiper-container .button-secondary {
  display: none;
}
@media screen and (max-width: 768px) {
  .swiper-container .button-secondary {
    display: block;
    margin: 30px auto 0;
    max-width: 118px;
  }
}

.swiper-button-lock {
  display: block !important;
}

.button-navigation {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.08);
  transition: 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  top: 50%;
}
@media screen and (max-width: 768px) {
  .button-navigation {
    transform: translate(0, -56px);
  }
}
.button-navigation svg {
  height: 16px;
  width: 16px;
  fill: #9093A6;
  transition: 0.5s ease;
}
.button-navigation:hover {
  background-color: #9093A6;
}
.button-navigation:hover svg {
  fill: #3F4255;
}

.button-navigation--prev {
  left: -20px;
}

.button-navigation--next {
  right: -20px;
}
.button-navigation--next svg {
  transform: rotate(180deg);
}

.restaurants {
  padding: 48px 0 72px;
}
@media screen and (max-width: 768px) {
  .restaurants {
    padding-bottom: 48px;
  }
}
.restaurants-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 48px;
}
@media screen and (max-width: 768px) {
  .restaurants-header .button-secondary {
    display: none;
  }
}
.restaurants-slide {
  display: flex !important;
  flex-direction: column;
  align-items: center;
}
.restaurants-slide img {
  max-width: 296px;
  border-radius: 4px 4px 0 0;
}

.container {
  width: 100%;
  max-width: 1296px;
  margin: 0 auto;
  padding: 0 20px;
}

.icon {
  fill: #d4d7e6;
  width: 24px;
  height: 24px;
  transition: 0.5s ease;
}

.instagram .section-title, .main-title, .section-title {
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 64px;
  letter-spacing: 0.08em;
}
@media screen and (max-width: 768px) {
  .instagram .section-title, .main-title, .section-title {
    font-size: 28px;
  }
}

.footer-menu-title, .peculiarities-name {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.button-secondary {
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-color: #F4F2FC;
  border-radius: 4px;
  padding: 16px 24px;
  color: #9093A6;
  font-weight: 700;
  letter-spacing: 0.5px;
  transition: 0.5s ease;
  cursor: pointer;
}
.button-secondary:hover {
  background-color: #d4d7e6;
}
.button-secondary:disabled {
  opacity: 0.4;
}
.button-secondary span {
  position: relative;
  z-index: 10;
}
.button-secondary.active:after {
  content: "";
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  opacity: 0.4;
  background-color: #fff;
  position: absolute;
  z-index: 5;
  right: 4px;
  top: 4px;
}

.button-primary {
  background-color: #FFE145;
  border-radius: 4px;
  color: #B79C0F;
  padding: 25px 24px;
  font-weight: 700;
  letter-spacing: 0.5px;
  position: relative;
  overflow: hidden;
  border: none;
  transition: 0.5s ease;
  cursor: pointer;
}
.button-primary:hover {
  background-color: #FFF7CC;
}
.button-primary:disabled {
  opacity: 0.4;
}
.button-primary.active:before {
  content: "";
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  opacity: 0.4;
  background-color: #fff;
  position: absolute;
  z-index: 5;
  right: 8px;
  bottom: 8px;
}
.button-primary span {
  position: relative;
  z-index: 10;
}

.swiper-container {
  position: relative;
}
.swiper-container .button-secondary {
  display: none;
}
@media screen and (max-width: 768px) {
  .swiper-container .button-secondary {
    display: block;
    margin: 30px auto 0;
    max-width: 118px;
  }
}

.swiper-button-lock {
  display: block !important;
}

.button-navigation {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.08);
  transition: 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  top: 50%;
}
@media screen and (max-width: 768px) {
  .button-navigation {
    transform: translate(0, -56px);
  }
}
.button-navigation svg {
  height: 16px;
  width: 16px;
  fill: #9093A6;
  transition: 0.5s ease;
}
.button-navigation:hover {
  background-color: #9093A6;
}
.button-navigation:hover svg {
  fill: #3F4255;
}

.button-navigation--prev {
  left: -20px;
}

.button-navigation--next {
  right: -20px;
}
.button-navigation--next svg {
  transform: rotate(180deg);
}

.find {
  padding: 80px 0;
  background-color: #F4F2FC;
}
.find .section-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 50px;
  justify-content: space-around;
}
@media screen and (max-width: 768px) {
  .find .section-title {
    line-height: 1.4;
  }
}
.find-info {
  max-width: 510px;
  color: #3F4255;
}
.find-info p {
  margin-top: 24px;
  letter-spacing: 0.5px;
}

.form {
  display: flex;
  align-items: center;
  gap: 2px;
}
.form-element {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 24px 16px;
  background-color: #fff;
  box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.0784313725);
  transition: 0.5s ease;
  border: 1px solid transparent;
}
.form-element:hover {
  box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.2);
}
.form-element.active {
  border-color: black;
}
.form-element.active:hover {
  box-shadow: none;
}
.form-element.error:after {
  content: 'The field must not contain characters: "!, @, #, $, %, ^, &, *, _, +, -, =, <, >, ?, |, /, [, ], {, }, `"!';
  position: absolute;
  bottom: -40px;
  left: 0;
  z-index: 1;
  font-size: 12px;
  color: red;
}
@media screen and (max-width: 768px) {
  .form-element.error:after {
    bottom: -60px;
  }
}
.form-text {
  border: none;
  background-color: transparent;
  outline: none;
  width: 100%;
  max-width: 272px;
  margin-left: 8px;
}
.form-text::-moz-placeholder {
  color: #9093A6;
  font-family: "Martel Sans";
  font-size: 16px;
  line-height: 24px;
}
.form-text::placeholder, .form-text {
  color: #9093A6;
  font-family: "Martel Sans";
  font-size: 16px;
  line-height: 24px;
}

.container {
  width: 100%;
  max-width: 1296px;
  margin: 0 auto;
  padding: 0 20px;
}

.icon {
  fill: #d4d7e6;
  width: 24px;
  height: 24px;
  transition: 0.5s ease;
}

.instagram .section-title, .main-title, .section-title {
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 64px;
  letter-spacing: 0.08em;
}
@media screen and (max-width: 768px) {
  .instagram .section-title, .main-title, .section-title {
    font-size: 28px;
  }
}

.footer-menu-title, .peculiarities-name {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.button-secondary {
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-color: #F4F2FC;
  border-radius: 4px;
  padding: 16px 24px;
  color: #9093A6;
  font-weight: 700;
  letter-spacing: 0.5px;
  transition: 0.5s ease;
  cursor: pointer;
}
.button-secondary:hover {
  background-color: #d4d7e6;
}
.button-secondary:disabled {
  opacity: 0.4;
}
.button-secondary span {
  position: relative;
  z-index: 10;
}
.button-secondary.active:after {
  content: "";
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  opacity: 0.4;
  background-color: #fff;
  position: absolute;
  z-index: 5;
  right: 4px;
  top: 4px;
}

.button-primary {
  background-color: #FFE145;
  border-radius: 4px;
  color: #B79C0F;
  padding: 25px 24px;
  font-weight: 700;
  letter-spacing: 0.5px;
  position: relative;
  overflow: hidden;
  border: none;
  transition: 0.5s ease;
  cursor: pointer;
}
.button-primary:hover {
  background-color: #FFF7CC;
}
.button-primary:disabled {
  opacity: 0.4;
}
.button-primary.active:before {
  content: "";
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  opacity: 0.4;
  background-color: #fff;
  position: absolute;
  z-index: 5;
  right: 8px;
  bottom: 8px;
}
.button-primary span {
  position: relative;
  z-index: 10;
}

.swiper-container {
  position: relative;
}
.swiper-container .button-secondary {
  display: none;
}
@media screen and (max-width: 768px) {
  .swiper-container .button-secondary {
    display: block;
    margin: 30px auto 0;
    max-width: 118px;
  }
}

.swiper-button-lock {
  display: block !important;
}

.button-navigation {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.08);
  transition: 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  top: 50%;
}
@media screen and (max-width: 768px) {
  .button-navigation {
    transform: translate(0, -56px);
  }
}
.button-navigation svg {
  height: 16px;
  width: 16px;
  fill: #9093A6;
  transition: 0.5s ease;
}
.button-navigation:hover {
  background-color: #9093A6;
}
.button-navigation:hover svg {
  fill: #3F4255;
}

.button-navigation--prev {
  left: -20px;
}

.button-navigation--next {
  right: -20px;
}
.button-navigation--next svg {
  transform: rotate(180deg);
}

.specialities {
  padding: 72px 0;
}
.specialities-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 48px;
}
@media screen and (max-width: 768px) {
  .specialities-header .button-secondary {
    display: none;
  }
}
.specialities-slider {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.specialities-slider svg {
  width: 48px;
  height: 48px;
}

.container {
  width: 100%;
  max-width: 1296px;
  margin: 0 auto;
  padding: 0 20px;
}

.icon {
  fill: #d4d7e6;
  width: 24px;
  height: 24px;
  transition: 0.5s ease;
}

.instagram .section-title, .main-title, .section-title {
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 64px;
  letter-spacing: 0.08em;
}
@media screen and (max-width: 768px) {
  .instagram .section-title, .main-title, .section-title {
    font-size: 28px;
  }
}

.footer-menu-title, .peculiarities-name {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.button-secondary {
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-color: #F4F2FC;
  border-radius: 4px;
  padding: 16px 24px;
  color: #9093A6;
  font-weight: 700;
  letter-spacing: 0.5px;
  transition: 0.5s ease;
  cursor: pointer;
}
.button-secondary:hover {
  background-color: #d4d7e6;
}
.button-secondary:disabled {
  opacity: 0.4;
}
.button-secondary span {
  position: relative;
  z-index: 10;
}
.button-secondary.active:after {
  content: "";
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  opacity: 0.4;
  background-color: #fff;
  position: absolute;
  z-index: 5;
  right: 4px;
  top: 4px;
}

.button-primary {
  background-color: #FFE145;
  border-radius: 4px;
  color: #B79C0F;
  padding: 25px 24px;
  font-weight: 700;
  letter-spacing: 0.5px;
  position: relative;
  overflow: hidden;
  border: none;
  transition: 0.5s ease;
  cursor: pointer;
}
.button-primary:hover {
  background-color: #FFF7CC;
}
.button-primary:disabled {
  opacity: 0.4;
}
.button-primary.active:before {
  content: "";
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  opacity: 0.4;
  background-color: #fff;
  position: absolute;
  z-index: 5;
  right: 8px;
  bottom: 8px;
}
.button-primary span {
  position: relative;
  z-index: 10;
}

.swiper-container {
  position: relative;
}
.swiper-container .button-secondary {
  display: none;
}
@media screen and (max-width: 768px) {
  .swiper-container .button-secondary {
    display: block;
    margin: 30px auto 0;
    max-width: 118px;
  }
}

.swiper-button-lock {
  display: block !important;
}

.button-navigation {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.08);
  transition: 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  top: 50%;
}
@media screen and (max-width: 768px) {
  .button-navigation {
    transform: translate(0, -56px);
  }
}
.button-navigation svg {
  height: 16px;
  width: 16px;
  fill: #9093A6;
  transition: 0.5s ease;
}
.button-navigation:hover {
  background-color: #9093A6;
}
.button-navigation:hover svg {
  fill: #3F4255;
}

.button-navigation--prev {
  left: -20px;
}

.button-navigation--next {
  right: -20px;
}
.button-navigation--next svg {
  transform: rotate(180deg);
}

.peculiarities {
  padding: 79px 0;
  background: no-repeat left center url(../images/peculiarities_bg.png) #f9fbfd;
  background-size: cover;
}
.peculiarities .section-inner {
  display: flex;
  justify-content: center;
  gap: 25px 50px;
  align-items: center;
  flex-wrap: wrap;
}
.peculiarities-row {
  display: flex;
  justify-content: center;
  gap: 25px 50px;
  align-items: center;
  flex-wrap: wrap;
}
.peculiarities-item {
  min-width: 183px;
  text-align: center;
}
.peculiarities-number {
  width: 126px;
  aspect-ratio: 1/1;
  display: inline-block;
  background-color: #FFE145;
  position: relative;
  border-radius: 50%;
}
.peculiarities-number:after {
  content: "1";
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 10;
  bottom: 22px;
  left: 0;
  width: 126px;
  aspect-ratio: 1/1;
  font-family: "Popins", sans-serif;
  font-size: 58px;
  font-weight: 700;
  letter-spacing: 0.05em;
  border-radius: 50%;
  border: 1px solid #B79C0F;
}
.peculiarities-item:nth-child(2) .peculiarities-number:after, .peculiarities-item:nth-child(3) .peculiarities-number:after {
  content: "11";
}
.map {
  padding: 72px 0;
}
.map .section-inner {
  height: 100%;
  max-height: 600px;
}
.map .section-inner iframe {
  height: 600px;
}
@media screen and (max-width: 1440px) {
  .map .section-inner iframe {
    height: 500px;
  }
}
@media screen and (max-width: 1024px) {
  .map .section-inner iframe {
    height: 400px;
  }
}

.container {
  width: 100%;
  max-width: 1296px;
  margin: 0 auto;
  padding: 0 20px;
}

.icon {
  fill: #d4d7e6;
  width: 24px;
  height: 24px;
  transition: 0.5s ease;
}

.instagram .section-title, .main-title, .section-title {
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 64px;
  letter-spacing: 0.08em;
}
@media screen and (max-width: 768px) {
  .instagram .section-title, .main-title, .section-title {
    font-size: 28px;
  }
}

.footer-menu-title, .peculiarities-name {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.button-secondary {
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-color: #F4F2FC;
  border-radius: 4px;
  padding: 16px 24px;
  color: #9093A6;
  font-weight: 700;
  letter-spacing: 0.5px;
  transition: 0.5s ease;
  cursor: pointer;
}
.button-secondary:hover {
  background-color: #d4d7e6;
}
.button-secondary:disabled {
  opacity: 0.4;
}
.button-secondary span {
  position: relative;
  z-index: 10;
}
.button-secondary.active:after {
  content: "";
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  opacity: 0.4;
  background-color: #fff;
  position: absolute;
  z-index: 5;
  right: 4px;
  top: 4px;
}

.button-primary {
  background-color: #FFE145;
  border-radius: 4px;
  color: #B79C0F;
  padding: 25px 24px;
  font-weight: 700;
  letter-spacing: 0.5px;
  position: relative;
  overflow: hidden;
  border: none;
  transition: 0.5s ease;
  cursor: pointer;
}
.button-primary:hover {
  background-color: #FFF7CC;
}
.button-primary:disabled {
  opacity: 0.4;
}
.button-primary.active:before {
  content: "";
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  opacity: 0.4;
  background-color: #fff;
  position: absolute;
  z-index: 5;
  right: 8px;
  bottom: 8px;
}
.button-primary span {
  position: relative;
  z-index: 10;
}

.swiper-container {
  position: relative;
}
.swiper-container .button-secondary {
  display: none;
}
@media screen and (max-width: 768px) {
  .swiper-container .button-secondary {
    display: block;
    margin: 30px auto 0;
    max-width: 118px;
  }
}

.swiper-button-lock {
  display: block !important;
}

.button-navigation {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.08);
  transition: 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  top: 50%;
}
@media screen and (max-width: 768px) {
  .button-navigation {
    transform: translate(0, -56px);
  }
}
.button-navigation svg {
  height: 16px;
  width: 16px;
  fill: #9093A6;
  transition: 0.5s ease;
}
.button-navigation:hover {
  background-color: #9093A6;
}
.button-navigation:hover svg {
  fill: #3F4255;
}

.button-navigation--prev {
  left: -20px;
}

.button-navigation--next {
  right: -20px;
}
.button-navigation--next svg {
  transform: rotate(180deg);
}

.instagram {
  padding-bottom: 72px;
}
.instagram-list {
  margin-top: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-wrap: wrap;
}
.instagram-row {
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
}
.instagram .section-title {
  color: #3F4255;
}
@media screen and (max-width: 768px) {
  .instagram .section-title {
    line-height: 1.3 !important;
  }
}
.instagram .section-title span {
  color: #d4d7e6;
}
.instagram-image {
  width: 100%;
  max-width: 296px;
  height: auto;
  border-radius: 6px;
}

.container {
  width: 100%;
  max-width: 1296px;
  margin: 0 auto;
  padding: 0 20px;
}

.icon {
  fill: #d4d7e6;
  width: 24px;
  height: 24px;
  transition: 0.5s ease;
}

.main-title, .section-title, .instagram .section-title {
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 64px;
  letter-spacing: 0.08em;
}
@media screen and (max-width: 768px) {
  .main-title, .section-title, .instagram .section-title {
    font-size: 28px;
  }
}

.footer-menu-title, .peculiarities-name {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.button-secondary {
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-color: #F4F2FC;
  border-radius: 4px;
  padding: 16px 24px;
  color: #9093A6;
  font-weight: 700;
  letter-spacing: 0.5px;
  transition: 0.5s ease;
  cursor: pointer;
}
.button-secondary:hover {
  background-color: #d4d7e6;
}
.button-secondary:disabled {
  opacity: 0.4;
}
.button-secondary span {
  position: relative;
  z-index: 10;
}
.button-secondary.active:after {
  content: "";
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  opacity: 0.4;
  background-color: #fff;
  position: absolute;
  z-index: 5;
  right: 4px;
  top: 4px;
}

.button-primary {
  background-color: #FFE145;
  border-radius: 4px;
  color: #B79C0F;
  padding: 25px 24px;
  font-weight: 700;
  letter-spacing: 0.5px;
  position: relative;
  overflow: hidden;
  border: none;
  transition: 0.5s ease;
  cursor: pointer;
}
.button-primary:hover {
  background-color: #FFF7CC;
}
.button-primary:disabled {
  opacity: 0.4;
}
.button-primary.active:before {
  content: "";
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  opacity: 0.4;
  background-color: #fff;
  position: absolute;
  z-index: 5;
  right: 8px;
  bottom: 8px;
}
.button-primary span {
  position: relative;
  z-index: 10;
}

.swiper-container {
  position: relative;
}
.swiper-container .button-secondary {
  display: none;
}
@media screen and (max-width: 768px) {
  .swiper-container .button-secondary {
    display: block;
    margin: 30px auto 0;
    max-width: 118px;
  }
}

.swiper-button-lock {
  display: block !important;
}

.button-navigation {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.08);
  transition: 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  top: 50%;
}
@media screen and (max-width: 768px) {
  .button-navigation {
    transform: translate(0, -56px);
  }
}
.button-navigation svg {
  height: 16px;
  width: 16px;
  fill: #9093A6;
  transition: 0.5s ease;
}
.button-navigation:hover {
  background-color: #9093A6;
}
.button-navigation:hover svg {
  fill: #3F4255;
}

.button-navigation--prev {
  left: -20px;
}

.button-navigation--next {
  right: -20px;
}
.button-navigation--next svg {
  transform: rotate(180deg);
}

.footer {
  padding: 48px 0;
  background-color: #3F4255;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px 25px;
}
@media screen and (max-width: 768px) {
  .footer-top {
    gap: 25px;
  }
}
.footer-logo {
  width: 100%;
  max-width: 296px;
}
.footer-logo-links {
  margin-top: 48px;
  padding-top: 48px;
  border-top: 1px solid #d4d7e6;
  display: flex;
  align-items: center;
  gap: 8px;
}
.footer-menu-title {
  color: #fff;
  margin-bottom: 24px;
}
.footer-menu-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: #d4d7e6;
  font-weight: 700;
  letter-spacing: 0.05px;
}
.footer-menu-link {
  transition: 0.5s ease;
}
.footer-menu-link:hover {
  color: #fff;
}
.footer-bottom {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 25px;
}
@media screen and (max-width: 1024px) {
  .footer-bottom {
    margin-top: 50px;
  }
}
@media screen and (max-width: 768px) {
  .footer-bottom {
    margin-top: 25px;
  }
}
.footer-bottom-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 54px;
  font-family: "Martel Sans", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .footer-bottom-info {
    gap: 10px;
  }
}
.footer-bottom-info a {
  font-weight: 800;
  transition: 0.5s ease;
}
.footer-bottom-info a:hover {
  color: #d4d7e6;
}

.social {
  display: flex;
  align-items: center;
  gap: 24px;
  max-width: -moz-min-content;
  max-width: min-content;
}
.social-item a:hover .icon {
  fill: #9093A6;
}/*# sourceMappingURL=style.css.map */