@import 'base';
.instagram {
  padding-bottom: 72px;

  &-list {
    margin-top: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    flex-wrap: wrap;
  }

  &-wrapper-row {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    flex-wrap: wrap;
  }

  .section-title {
    @extend %section-title;
    color: $gray-dark;

    span {
      color: $gray-light;
    }
  }

  &-image {
    width: 100%;
    max-width: 296px;
    height: auto;
    border-radius: 6px;
  }
}
