@import 'base';

.restaurants {
  padding: 48px 0 72px;

  @media screen and (max-width: 768px) {
    padding-bottom: 48px;
  }

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 48px;

    .button-secondary {
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
  }

  &-slide {
    display: flex !important;
    flex-direction: column;
    align-items: center;

    img {
      max-width: 296px;
      border-radius: 4px 4px 0 0;
    }
  }

}

.section-title {
  @extend %section-title;
}

