@import 'base';

.find {
  padding: 80px 0;
  background-color: $gray-bg;

  .section-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }

  &-info {
    max-width: 510px;
    color: $gray-dark;

    p {
      margin-top: 24px;
      letter-spacing: .5px;
    }
  }
}

.form {
  display: flex;
  align-items: center;
  gap: 2px;

  &-element {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 24px 16px;
    background-color: #fff;
    box-shadow: 0 8px 40px 0 #00000014;
    transition: .5s ease;
    border: 1px solid transparent;

    &:hover {
      box-shadow: 0 8px 40px 0 rgba(0, 0, 0, .2);
    }

    &.active {
      border-color: black;

      &:hover {
        box-shadow: none;
      }
    }

    &.error:after {
      content: 'The field must not contain characters: "!, @, #, $, %, ^, &, *, _, +, -, =, <, >, ?, |, /, [, ], {, }, `"!';
      position: absolute;
      bottom: -40px;
      left: 0;
      z-index: 1;
      font-size: 12px;
      color: red;
    }
  }

  &-text {
    border: none;
    background-color: transparent;
    outline: none;
    width: 100%;
    max-width: 272px;
    margin-left: 8px;

    &::placeholder, & {
      color: $gray-second-text;
      font: {
        family: "Martel Sans";
        size: 16px;
      }
      line-height: 24px;
    }

  }
}
