@import 'base';

.restaurants {
  padding: 48px 0 72px;

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 48px;
  }

  &-slider img {
    border-radius: 4px 4px 0 0;
  }


}

.section-title {
  @extend %section-title;
}
.swiper-container {
  position: relative;
}
.button-navigation {
  width: 48px;
  height: 48px;

  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.08);
  transition: .5s ease;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  z-index: 1;
  top: 50%;

  svg {
    height: 16px;
    width: 16px;
    fill: $gray-second-text;
    transition: .5s ease;
  }

  &:hover {
    background-color: $gray-second-text;

    svg {
      fill: $gray-dark;
    }
  }
}

.button-navigation--prev {
  transform: translate(-50%, -50%);
  left: 0;
}
.button-navigation--next {
  transform: translate(0, -50%);
  right: 0;

  svg {
    transform: rotate(180deg);
  }

}
