@import 'base';

.restaurants {
  padding: 48px 0 72px;

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 48px;
  }

  &-slider img {
    border-radius: 4px 4px 0 0;
  }


}

.section-title {
  @extend %section-title;
}

