*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  overflow-x: hidden;
  color: #3F4255;
  font-family: "Martel Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

input, button, h1, h2, p {
  font: inherit;
  color: inherit;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  font: inherit;
  color: inherit;
}

ol, ul {
  list-style-type: none;
}

button {
  outline: none;
  border: none;
  background: transparent;
}

.container {
  width: 100%;
  max-width: 1296px;
  margin: 0 auto;
}

.icon {
  fill: #d4d7e6;
  width: 24px;
  height: 24px;
  transition: 0.5s ease;
}

.instagram .section-title, .section-title, .main-title {
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 64px;
  letter-spacing: 0.08em;
}

.peculiarities-name {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.button-secondary {
  position: relative;
  overflow: hidden;
  background-color: #F4F2FC;
  border-radius: 4px;
  padding: 16px 24px;
  color: #9093A6;
  font-weight: 700;
  letter-spacing: 0.5px;
  transition: 0.5s ease;
  cursor: pointer;
}
.button-secondary:hover {
  background-color: #d4d7e6;
}
.button-secondary:disabled {
  opacity: 0.4;
}
.button-secondary span {
  position: relative;
  z-index: 10;
}
.button-secondary.active:after {
  content: "";
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  opacity: 0.4;
  background-color: #fff;
  position: absolute;
  z-index: 5;
  right: 4px;
  top: 4px;
}

.button-primary {
  background-color: #FFE145;
  border-radius: 4px;
  color: #B79C0F;
  padding: 26px 24px;
  font-weight: 700;
  letter-spacing: 0.5px;
  position: relative;
  overflow: hidden;
  border: none;
  transition: 0.5s ease;
  cursor: pointer;
}
.button-primary:hover {
  background-color: #FFF7CC;
}
.button-primary:disabled {
  opacity: 0.4;
}
.button-primary.active:before {
  content: "";
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  opacity: 0.4;
  background-color: #fff;
  position: absolute;
  z-index: 5;
  right: 8px;
  bottom: 8px;
}
.button-primary span {
  position: relative;
  z-index: 10;
}

.swiper-container {
  position: relative;
}

.swiper-button-lock {
  display: block !important;
}

.button-navigation {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.08);
  transition: 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  top: 50%;
}
.button-navigation svg {
  height: 16px;
  width: 16px;
  fill: #9093A6;
  transition: 0.5s ease;
}
.button-navigation:hover {
  background-color: #9093A6;
}
.button-navigation:hover svg {
  fill: #3F4255;
}

.button-navigation--prev {
  transform: translate(-50%, -50%);
  left: 0;
}

.button-navigation--next {
  transform: translate(0, -50%);
  right: 0;
}
.button-navigation--next svg {
  transform: rotate(180deg);
}

.container {
  width: 100%;
  max-width: 1296px;
  margin: 0 auto;
}

.icon {
  fill: #d4d7e6;
  width: 24px;
  height: 24px;
  transition: 0.5s ease;
}

.instagram .section-title, .section-title, .main-title {
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 64px;
  letter-spacing: 0.08em;
}

.peculiarities-name {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.button-secondary {
  position: relative;
  overflow: hidden;
  background-color: #F4F2FC;
  border-radius: 4px;
  padding: 16px 24px;
  color: #9093A6;
  font-weight: 700;
  letter-spacing: 0.5px;
  transition: 0.5s ease;
  cursor: pointer;
}
.button-secondary:hover {
  background-color: #d4d7e6;
}
.button-secondary:disabled {
  opacity: 0.4;
}
.button-secondary span {
  position: relative;
  z-index: 10;
}
.button-secondary.active:after {
  content: "";
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  opacity: 0.4;
  background-color: #fff;
  position: absolute;
  z-index: 5;
  right: 4px;
  top: 4px;
}

.button-primary {
  background-color: #FFE145;
  border-radius: 4px;
  color: #B79C0F;
  padding: 26px 24px;
  font-weight: 700;
  letter-spacing: 0.5px;
  position: relative;
  overflow: hidden;
  border: none;
  transition: 0.5s ease;
  cursor: pointer;
}
.button-primary:hover {
  background-color: #FFF7CC;
}
.button-primary:disabled {
  opacity: 0.4;
}
.button-primary.active:before {
  content: "";
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  opacity: 0.4;
  background-color: #fff;
  position: absolute;
  z-index: 5;
  right: 8px;
  bottom: 8px;
}
.button-primary span {
  position: relative;
  z-index: 10;
}

.swiper-container {
  position: relative;
}

.swiper-button-lock {
  display: block !important;
}

.button-navigation {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.08);
  transition: 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  top: 50%;
}
.button-navigation svg {
  height: 16px;
  width: 16px;
  fill: #9093A6;
  transition: 0.5s ease;
}
.button-navigation:hover {
  background-color: #9093A6;
}
.button-navigation:hover svg {
  fill: #3F4255;
}

.button-navigation--prev {
  transform: translate(-50%, -50%);
  left: 0;
}

.button-navigation--next {
  transform: translate(0, -50%);
  right: 0;
}
.button-navigation--next svg {
  transform: rotate(180deg);
}

.header {
  color: #9093A6;
  font-weight: 700;
  padding: 0.75rem 0;
  border-bottom: 1px solid #d4d7e6;
}
.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.menu-button {
  display: flex;
  align-items: center;
  gap: 2px;
  cursor: pointer;
  padding: 12px;
  transition: 0.5s ease;
}
.menu-button:hover {
  color: #3F4255;
}
.menu-button:hover .icon {
  fill: #3F4255;
}
.menu-button .icon {
  fill: #9093A6;
}
.menu [data-navigation] {
  border-radius: 50%;
}
.menu [data-navigation] [data-burger-close] {
  visibility: hidden;
  opacity: 0;
}
.menu [data-navigation]:hover {
  background-color: #d4d7e6;
}

.container {
  width: 100%;
  max-width: 1296px;
  margin: 0 auto;
}

.icon {
  fill: #d4d7e6;
  width: 24px;
  height: 24px;
  transition: 0.5s ease;
}

.instagram .section-title, .section-title, .main-title {
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 64px;
  letter-spacing: 0.08em;
}

.peculiarities-name {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.button-secondary {
  position: relative;
  overflow: hidden;
  background-color: #F4F2FC;
  border-radius: 4px;
  padding: 16px 24px;
  color: #9093A6;
  font-weight: 700;
  letter-spacing: 0.5px;
  transition: 0.5s ease;
  cursor: pointer;
}
.button-secondary:hover {
  background-color: #d4d7e6;
}
.button-secondary:disabled {
  opacity: 0.4;
}
.button-secondary span {
  position: relative;
  z-index: 10;
}
.button-secondary.active:after {
  content: "";
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  opacity: 0.4;
  background-color: #fff;
  position: absolute;
  z-index: 5;
  right: 4px;
  top: 4px;
}

.button-primary {
  background-color: #FFE145;
  border-radius: 4px;
  color: #B79C0F;
  padding: 26px 24px;
  font-weight: 700;
  letter-spacing: 0.5px;
  position: relative;
  overflow: hidden;
  border: none;
  transition: 0.5s ease;
  cursor: pointer;
}
.button-primary:hover {
  background-color: #FFF7CC;
}
.button-primary:disabled {
  opacity: 0.4;
}
.button-primary.active:before {
  content: "";
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  opacity: 0.4;
  background-color: #fff;
  position: absolute;
  z-index: 5;
  right: 8px;
  bottom: 8px;
}
.button-primary span {
  position: relative;
  z-index: 10;
}

.swiper-container {
  position: relative;
}

.swiper-button-lock {
  display: block !important;
}

.button-navigation {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.08);
  transition: 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  top: 50%;
}
.button-navigation svg {
  height: 16px;
  width: 16px;
  fill: #9093A6;
  transition: 0.5s ease;
}
.button-navigation:hover {
  background-color: #9093A6;
}
.button-navigation:hover svg {
  fill: #3F4255;
}

.button-navigation--prev {
  transform: translate(-50%, -50%);
  left: 0;
}

.button-navigation--next {
  transform: translate(0, -50%);
  right: 0;
}
.button-navigation--next svg {
  transform: rotate(180deg);
}

.main {
  padding: 25px 0;
  background: no-repeat right center url(../images/main_back.png);
  background-size: contain;
}
.main-info {
  padding: 95px 0 276px;
  margin-right: auto;
}
.main-title {
  font-size: 58px !important;
  letter-spacing: 0.05em;
  margin: 95px 0 88px;
  max-width: 535px;
}
.main-buttons-wrapper {
  display: flex;
  align-items: center;
  gap: 24px;
}
.main-button {
  width: 100%;
  max-width: -moz-min-content;
  max-width: min-content;
  padding: 18.5px 24px;
  border: 2px solid #FFE145;
  font-size: 12px;
  line-height: 16px;
  transition: 0.5s ease;
}
.main-button span {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 20px;
}
.main-button.active {
  background-color: #FFE145;
}
.main-button:hover {
  background-color: #FFF7CC;
}
.main-button:disabled {
  opacity: 0.4;
}

.container {
  width: 100%;
  max-width: 1296px;
  margin: 0 auto;
}

.icon {
  fill: #d4d7e6;
  width: 24px;
  height: 24px;
  transition: 0.5s ease;
}

.instagram .section-title, .section-title, .main-title {
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 64px;
  letter-spacing: 0.08em;
}

.peculiarities-name {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.button-secondary {
  position: relative;
  overflow: hidden;
  background-color: #F4F2FC;
  border-radius: 4px;
  padding: 16px 24px;
  color: #9093A6;
  font-weight: 700;
  letter-spacing: 0.5px;
  transition: 0.5s ease;
  cursor: pointer;
}
.button-secondary:hover {
  background-color: #d4d7e6;
}
.button-secondary:disabled {
  opacity: 0.4;
}
.button-secondary span {
  position: relative;
  z-index: 10;
}
.button-secondary.active:after {
  content: "";
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  opacity: 0.4;
  background-color: #fff;
  position: absolute;
  z-index: 5;
  right: 4px;
  top: 4px;
}

.button-primary {
  background-color: #FFE145;
  border-radius: 4px;
  color: #B79C0F;
  padding: 26px 24px;
  font-weight: 700;
  letter-spacing: 0.5px;
  position: relative;
  overflow: hidden;
  border: none;
  transition: 0.5s ease;
  cursor: pointer;
}
.button-primary:hover {
  background-color: #FFF7CC;
}
.button-primary:disabled {
  opacity: 0.4;
}
.button-primary.active:before {
  content: "";
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  opacity: 0.4;
  background-color: #fff;
  position: absolute;
  z-index: 5;
  right: 8px;
  bottom: 8px;
}
.button-primary span {
  position: relative;
  z-index: 10;
}

.swiper-container {
  position: relative;
}

.swiper-button-lock {
  display: block !important;
}

.button-navigation {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.08);
  transition: 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  top: 50%;
}
.button-navigation svg {
  height: 16px;
  width: 16px;
  fill: #9093A6;
  transition: 0.5s ease;
}
.button-navigation:hover {
  background-color: #9093A6;
}
.button-navigation:hover svg {
  fill: #3F4255;
}

.button-navigation--prev {
  transform: translate(-50%, -50%);
  left: 0;
}

.button-navigation--next {
  transform: translate(0, -50%);
  right: 0;
}
.button-navigation--next svg {
  transform: rotate(180deg);
}

.services {
  max-width: 54.2%;
  margin-top: -104px;
  padding: 24px 25px 24px 0;
  box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.08);
}
.services-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
}
.services-item {
  display: flex;
  align-items: center;
  gap: 16px;
}
.services-icon {
  width: 48px;
  height: 48px;
  fill: #B79C0F;
}

.container {
  width: 100%;
  max-width: 1296px;
  margin: 0 auto;
}

.icon {
  fill: #d4d7e6;
  width: 24px;
  height: 24px;
  transition: 0.5s ease;
}

.instagram .section-title, .section-title, .main-title {
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 64px;
  letter-spacing: 0.08em;
}

.peculiarities-name {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.button-secondary {
  position: relative;
  overflow: hidden;
  background-color: #F4F2FC;
  border-radius: 4px;
  padding: 16px 24px;
  color: #9093A6;
  font-weight: 700;
  letter-spacing: 0.5px;
  transition: 0.5s ease;
  cursor: pointer;
}
.button-secondary:hover {
  background-color: #d4d7e6;
}
.button-secondary:disabled {
  opacity: 0.4;
}
.button-secondary span {
  position: relative;
  z-index: 10;
}
.button-secondary.active:after {
  content: "";
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  opacity: 0.4;
  background-color: #fff;
  position: absolute;
  z-index: 5;
  right: 4px;
  top: 4px;
}

.button-primary {
  background-color: #FFE145;
  border-radius: 4px;
  color: #B79C0F;
  padding: 26px 24px;
  font-weight: 700;
  letter-spacing: 0.5px;
  position: relative;
  overflow: hidden;
  border: none;
  transition: 0.5s ease;
  cursor: pointer;
}
.button-primary:hover {
  background-color: #FFF7CC;
}
.button-primary:disabled {
  opacity: 0.4;
}
.button-primary.active:before {
  content: "";
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  opacity: 0.4;
  background-color: #fff;
  position: absolute;
  z-index: 5;
  right: 8px;
  bottom: 8px;
}
.button-primary span {
  position: relative;
  z-index: 10;
}

.swiper-container {
  position: relative;
}

.swiper-button-lock {
  display: block !important;
}

.button-navigation {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.08);
  transition: 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  top: 50%;
}
.button-navigation svg {
  height: 16px;
  width: 16px;
  fill: #9093A6;
  transition: 0.5s ease;
}
.button-navigation:hover {
  background-color: #9093A6;
}
.button-navigation:hover svg {
  fill: #3F4255;
}

.button-navigation--prev {
  transform: translate(-50%, -50%);
  left: 0;
}

.button-navigation--next {
  transform: translate(0, -50%);
  right: 0;
}
.button-navigation--next svg {
  transform: rotate(180deg);
}

.restaurants {
  padding: 48px 0 72px;
}
.restaurants-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 48px;
}
.restaurants-slider img {
  border-radius: 4px 4px 0 0;
}

.container {
  width: 100%;
  max-width: 1296px;
  margin: 0 auto;
}

.icon {
  fill: #d4d7e6;
  width: 24px;
  height: 24px;
  transition: 0.5s ease;
}

.instagram .section-title, .main-title, .section-title {
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 64px;
  letter-spacing: 0.08em;
}

.peculiarities-name {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.button-secondary {
  position: relative;
  overflow: hidden;
  background-color: #F4F2FC;
  border-radius: 4px;
  padding: 16px 24px;
  color: #9093A6;
  font-weight: 700;
  letter-spacing: 0.5px;
  transition: 0.5s ease;
  cursor: pointer;
}
.button-secondary:hover {
  background-color: #d4d7e6;
}
.button-secondary:disabled {
  opacity: 0.4;
}
.button-secondary span {
  position: relative;
  z-index: 10;
}
.button-secondary.active:after {
  content: "";
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  opacity: 0.4;
  background-color: #fff;
  position: absolute;
  z-index: 5;
  right: 4px;
  top: 4px;
}

.button-primary {
  background-color: #FFE145;
  border-radius: 4px;
  color: #B79C0F;
  padding: 26px 24px;
  font-weight: 700;
  letter-spacing: 0.5px;
  position: relative;
  overflow: hidden;
  border: none;
  transition: 0.5s ease;
  cursor: pointer;
}
.button-primary:hover {
  background-color: #FFF7CC;
}
.button-primary:disabled {
  opacity: 0.4;
}
.button-primary.active:before {
  content: "";
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  opacity: 0.4;
  background-color: #fff;
  position: absolute;
  z-index: 5;
  right: 8px;
  bottom: 8px;
}
.button-primary span {
  position: relative;
  z-index: 10;
}

.swiper-container {
  position: relative;
}

.swiper-button-lock {
  display: block !important;
}

.button-navigation {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.08);
  transition: 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  top: 50%;
}
.button-navigation svg {
  height: 16px;
  width: 16px;
  fill: #9093A6;
  transition: 0.5s ease;
}
.button-navigation:hover {
  background-color: #9093A6;
}
.button-navigation:hover svg {
  fill: #3F4255;
}

.button-navigation--prev {
  transform: translate(-50%, -50%);
  left: 0;
}

.button-navigation--next {
  transform: translate(0, -50%);
  right: 0;
}
.button-navigation--next svg {
  transform: rotate(180deg);
}

.find {
  padding: 80px 0;
  background-color: #F4F2FC;
}
.find .section-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.find-info {
  max-width: 510px;
  color: #3F4255;
}
.find-info p {
  margin-top: 24px;
  letter-spacing: 0.5px;
}

.form {
  display: flex;
  align-items: center;
  gap: 2px;
}
.form-element {
  display: flex;
  padding: 24px 16px;
  background-color: #fff;
  box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.08);
}
.form-text {
  border: none;
  background-color: transparent;
  outline: none;
  width: 100%;
  max-width: 272px;
  margin-left: 8px;
}
.form-text::-moz-placeholder {
  color: #9093A6;
  font-family: "Martel Sans";
  font-size: 16px;
  line-height: 24px;
}
.form-text::placeholder, .form-text {
  color: #9093A6;
  font-family: "Martel Sans";
  font-size: 16px;
  line-height: 24px;
}
.form label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 1296px;
  margin: 0 auto;
}

.icon {
  fill: #d4d7e6;
  width: 24px;
  height: 24px;
  transition: 0.5s ease;
}

.instagram .section-title, .main-title, .section-title {
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 64px;
  letter-spacing: 0.08em;
}

.peculiarities-name {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.button-secondary {
  position: relative;
  overflow: hidden;
  background-color: #F4F2FC;
  border-radius: 4px;
  padding: 16px 24px;
  color: #9093A6;
  font-weight: 700;
  letter-spacing: 0.5px;
  transition: 0.5s ease;
  cursor: pointer;
}
.button-secondary:hover {
  background-color: #d4d7e6;
}
.button-secondary:disabled {
  opacity: 0.4;
}
.button-secondary span {
  position: relative;
  z-index: 10;
}
.button-secondary.active:after {
  content: "";
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  opacity: 0.4;
  background-color: #fff;
  position: absolute;
  z-index: 5;
  right: 4px;
  top: 4px;
}

.button-primary {
  background-color: #FFE145;
  border-radius: 4px;
  color: #B79C0F;
  padding: 26px 24px;
  font-weight: 700;
  letter-spacing: 0.5px;
  position: relative;
  overflow: hidden;
  border: none;
  transition: 0.5s ease;
  cursor: pointer;
}
.button-primary:hover {
  background-color: #FFF7CC;
}
.button-primary:disabled {
  opacity: 0.4;
}
.button-primary.active:before {
  content: "";
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  opacity: 0.4;
  background-color: #fff;
  position: absolute;
  z-index: 5;
  right: 8px;
  bottom: 8px;
}
.button-primary span {
  position: relative;
  z-index: 10;
}

.swiper-container {
  position: relative;
}

.swiper-button-lock {
  display: block !important;
}

.button-navigation {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.08);
  transition: 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  top: 50%;
}
.button-navigation svg {
  height: 16px;
  width: 16px;
  fill: #9093A6;
  transition: 0.5s ease;
}
.button-navigation:hover {
  background-color: #9093A6;
}
.button-navigation:hover svg {
  fill: #3F4255;
}

.button-navigation--prev {
  transform: translate(-50%, -50%);
  left: 0;
}

.button-navigation--next {
  transform: translate(0, -50%);
  right: 0;
}
.button-navigation--next svg {
  transform: rotate(180deg);
}

.specialities {
  padding: 72px 0;
}
.specialities-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 48px;
}
.specialities-slider {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.specialities-slider svg {
  width: 48px;
  height: 48px;
}

.container {
  width: 100%;
  max-width: 1296px;
  margin: 0 auto;
}

.icon {
  fill: #d4d7e6;
  width: 24px;
  height: 24px;
  transition: 0.5s ease;
}

.instagram .section-title, .main-title, .section-title {
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 64px;
  letter-spacing: 0.08em;
}

.peculiarities-name {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.button-secondary {
  position: relative;
  overflow: hidden;
  background-color: #F4F2FC;
  border-radius: 4px;
  padding: 16px 24px;
  color: #9093A6;
  font-weight: 700;
  letter-spacing: 0.5px;
  transition: 0.5s ease;
  cursor: pointer;
}
.button-secondary:hover {
  background-color: #d4d7e6;
}
.button-secondary:disabled {
  opacity: 0.4;
}
.button-secondary span {
  position: relative;
  z-index: 10;
}
.button-secondary.active:after {
  content: "";
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  opacity: 0.4;
  background-color: #fff;
  position: absolute;
  z-index: 5;
  right: 4px;
  top: 4px;
}

.button-primary {
  background-color: #FFE145;
  border-radius: 4px;
  color: #B79C0F;
  padding: 26px 24px;
  font-weight: 700;
  letter-spacing: 0.5px;
  position: relative;
  overflow: hidden;
  border: none;
  transition: 0.5s ease;
  cursor: pointer;
}
.button-primary:hover {
  background-color: #FFF7CC;
}
.button-primary:disabled {
  opacity: 0.4;
}
.button-primary.active:before {
  content: "";
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  opacity: 0.4;
  background-color: #fff;
  position: absolute;
  z-index: 5;
  right: 8px;
  bottom: 8px;
}
.button-primary span {
  position: relative;
  z-index: 10;
}

.swiper-container {
  position: relative;
}

.swiper-button-lock {
  display: block !important;
}

.button-navigation {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.08);
  transition: 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  top: 50%;
}
.button-navigation svg {
  height: 16px;
  width: 16px;
  fill: #9093A6;
  transition: 0.5s ease;
}
.button-navigation:hover {
  background-color: #9093A6;
}
.button-navigation:hover svg {
  fill: #3F4255;
}

.button-navigation--prev {
  transform: translate(-50%, -50%);
  left: 0;
}

.button-navigation--next {
  transform: translate(0, -50%);
  right: 0;
}
.button-navigation--next svg {
  transform: rotate(180deg);
}

.peculiarities {
  padding: 79px 0;
  background: no-repeat left center url(../images/peculiarities_bg.png) #f9fbfd;
  background-size: cover;
}
.peculiarities .section-inner {
  display: flex;
  justify-content: center;
  gap: 25px;
  align-items: center;
}
.peculiarities-item {
  min-width: 183px;
  text-align: center;
}
.peculiarities-number {
  width: 126px;
  aspect-ratio: 1/1;
  display: inline-block;
  background-color: #FFE145;
  position: relative;
  border-radius: 50%;
}
.peculiarities-number:after {
  content: "1";
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 10;
  bottom: 22px;
  left: 0;
  width: 126px;
  aspect-ratio: 1/1;
  font-family: "Popins", sans-serif;
  font-size: 58px;
  font-weight: 700;
  letter-spacing: 0.05em;
  border-radius: 50%;
  border: 1px solid #B79C0F;
}
.peculiarities-item:nth-child(2) .peculiarities-number:after, .peculiarities-item:nth-child(3) .peculiarities-number:after {
  content: "11";
}
.map {
  padding: 72px 0;
}

.container {
  width: 100%;
  max-width: 1296px;
  margin: 0 auto;
}

.icon {
  fill: #d4d7e6;
  width: 24px;
  height: 24px;
  transition: 0.5s ease;
}

.instagram .section-title, .main-title, .section-title {
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 64px;
  letter-spacing: 0.08em;
}

.peculiarities-name {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.button-secondary {
  position: relative;
  overflow: hidden;
  background-color: #F4F2FC;
  border-radius: 4px;
  padding: 16px 24px;
  color: #9093A6;
  font-weight: 700;
  letter-spacing: 0.5px;
  transition: 0.5s ease;
  cursor: pointer;
}
.button-secondary:hover {
  background-color: #d4d7e6;
}
.button-secondary:disabled {
  opacity: 0.4;
}
.button-secondary span {
  position: relative;
  z-index: 10;
}
.button-secondary.active:after {
  content: "";
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  opacity: 0.4;
  background-color: #fff;
  position: absolute;
  z-index: 5;
  right: 4px;
  top: 4px;
}

.button-primary {
  background-color: #FFE145;
  border-radius: 4px;
  color: #B79C0F;
  padding: 26px 24px;
  font-weight: 700;
  letter-spacing: 0.5px;
  position: relative;
  overflow: hidden;
  border: none;
  transition: 0.5s ease;
  cursor: pointer;
}
.button-primary:hover {
  background-color: #FFF7CC;
}
.button-primary:disabled {
  opacity: 0.4;
}
.button-primary.active:before {
  content: "";
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  opacity: 0.4;
  background-color: #fff;
  position: absolute;
  z-index: 5;
  right: 8px;
  bottom: 8px;
}
.button-primary span {
  position: relative;
  z-index: 10;
}

.swiper-container {
  position: relative;
}

.swiper-button-lock {
  display: block !important;
}

.button-navigation {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.08);
  transition: 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  top: 50%;
}
.button-navigation svg {
  height: 16px;
  width: 16px;
  fill: #9093A6;
  transition: 0.5s ease;
}
.button-navigation:hover {
  background-color: #9093A6;
}
.button-navigation:hover svg {
  fill: #3F4255;
}

.button-navigation--prev {
  transform: translate(-50%, -50%);
  left: 0;
}

.button-navigation--next {
  transform: translate(0, -50%);
  right: 0;
}
.button-navigation--next svg {
  transform: rotate(180deg);
}

.instagram {
  padding-bottom: 72px;
}
.instagram-list {
  margin-top: 21px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  flex-wrap: wrap;
}
.instagram .section-title {
  color: #3F4255;
}
.instagram .section-title span {
  color: #d4d7e6;
}
.instagram-image {
  width: 100%;
  max-width: 296px;
  height: auto;
  border-radius: 6px;
}/*# sourceMappingURL=style.css.map */